html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  //   width: 100vh;
  height: 100vh;
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  font-size: 6rem;
  color: whitesmoke;
}

h6 {
  font-weight: 800;
  font-size: 1.375rem;
  color: whitesmoke;
}

.container {
  width: 34.375rem;
  height: 34.375rem;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 11px 11px 35px 2px rgba(62, 66, 66, 0.15);
}

.header {
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.elements {
  margin-bottom: 20px;
  margin-top: 20px;
}

.veri {
  font-weight: 400;
  font-size: 0.875rem;
}

.colorbox {
  width: 34.375rem;
  height: 16.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(
    35deg,
    #ed750c 0%,
    #f6c165 51%,
    #fff58a 100%
  );
}

.metrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
